/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.judul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: transparent;
    background: linear-gradient(45deg, #008cff, #ff0000);
    -webkit-background-clip: text;
    background-clip: text; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5px; 
    display: inline-block;
}


.sub-navbar {
    display: flex;
    justify-content: center;
    background-color: #4259ad;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 110px;
    
}

.nav-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 40px; 
}

.nav-option:hover {
    background-color: #ddd;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

@media (max-width: 768px) {
    .sub-navbar {
        font-size: 11px;
    }

    .nav-option {
        margin: 0 20px; 
    }
}

/*HOMEPAGE*/
.homepage .showcase {
width: 100%;
height: 500px;
background-size: 100% 100%;
background-position: center center;
background-repeat: no-repeat;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
margin-top: 150px;
}

@media (max-width: 1500px) {

.homepage .showcase {
    height: 250px; 
    margin: 10px 0; 
}
}

hr {
    border: none; 
    height: 3px; 
    background-color: #ffffff; 
}


.homepage .category-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.homepage .category-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 25px; 
    background-color: white;
    padding: 0;
    margin-right: 20px;
}

.homepage .category-box img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}


.homepage .category-box:hover {
    transform: scale(1.05);
}


.homepage .list-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.homepage .list-box {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.homepage .list-box img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.homepage .list-box:hover {
    transform: scale(1.05);
}

.homepage .text-center {
    font-family: monospace;
    font-weight: bold;
    color: white;
}


/*PRODUCT*/
.product .section-container {
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #9EB8D9;
    background-image: url("../user/asset gambar/backgroundproduk.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    border-radius: 10px; 
}


.product .section-title {
    font-family: monospace;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
    color: white;
}

.product .menu-item {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    width: 100%; 
    max-width: 250px; 
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.product .menu-item:hover {
    transform: scale(1.05);
}

.product .menu-item img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

.product .hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}


/*BUY*/
.buy .container {
    margin: 0 auto;
    max-width: 960px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); 
    width: 800px;
    height: 500px;
    background-color: rgba(169, 169, 169, 0.5); 
    color: white;
}

.buy .food-img, .buy .menu-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.buy .quantity-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy .price {
    font-size: 1.2em;
    font-weight: bold;
}

.buy .cart-icon {
    width: 24px;
    height: 24px;
}

.buy .btn-buy {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: transform 0.3s ease-in-out;
}

.buy .btn-buy:hover {
    transform: translateX(10px);
}

.buy .food-description {
    margin-top: 20px;
}

.buy .section-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.buy .subsection-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

@media (max-width: 768px) {
    .buy .container {
        width: 100%;
    }

    .buy .col-md-6 {
        width: 100%;
    }

    .buy .order-md-2 {
        order: 1;
    }

    .buy .order-md-1 {
        order: 2;
    }
}


/*ABOUT US*/
.aboutus .container {
    margin-top: 50px;
    color: wheat;
}

.aboutus .about-box {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.aboutus .about-box:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.aboutus .map-container {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
